BookListMVC/.vs/BookListMVC/v16/.suo
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/BookListMVC.AssemblyInfo.cs
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/BookListMVC.AssemblyInfoInputs.cache
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/BookListMVC.assets.cache
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/BookListMVC.csprojAssemblyReference.cache
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/BookListMVC.RazorAssemblyInfo.cache
BookListMVC/BookListMVC/obj/Debug/netcoreapp3.1/BookListMVC.RazorAssemblyInfo.cs
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/LICENSE
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap.css
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.js
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
BookListMVC/BookListMVC/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
BookListMVC/BookListMVC/wwwroot/lib/jquery/LICENSE.txt
BookListMVC/BookListMVC/wwwroot/lib/jquery/dist/jquery.js
BookListMVC/BookListMVC/wwwroot/lib/jquery/dist/jquery.min.js
BookListMVC/BookListMVC/wwwroot/lib/jquery/dist/jquery.min.map
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation/LICENSE.md
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation/dist/additional-methods.js
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation/dist/jquery.validate.js
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
BookListMVC/BookListMVC/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
